langchain
langchain-community
langchain-text-splitters
faiss-cpu
fastapi
uvicorn
sqlalchemy
python-dotenv
pypdf
pdfplumber
pytesseract
pillow
google-auth
google-auth-oauthlib
google-api-python-client
streamlit
httpx
python-multipart
markdown
semantic-text-splitter